/* #Recent Sales Table */
.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}