/* #Footer */
.footer {
  padding: 20px 0px 1rem 31rem;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  color: #012970;
}